blobfile==2.1.1
openai==1.7.0
Wave==0.0.2
PyAudio
piper-tts==1.2.0
PyYAML==6.0.1
pygame==2.5.2
sounddevice
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
# Pining at 2.1 - no more Jetpack updates are planned for the Xavier series
torch-2.1.0a0+41361538.nv23.06-cp39-cp39-linux_aarch64.whl
onnxruntime_gpu-1.18.0-cp39-cp39-linux_aarch64.whl

